:root {
  --bg: #0d1117;
  --boardgame: #3062b6;
  --red: #882020;
  --yellow: #d5d217;
  --white: #fff;
  --text: #7d8c8e;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

main h2 {text-align: center;}

.container {
  display:grid;
}

#gameboard {
  background-color: var(--boardgame);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.void, .full {
  background-color: var(--bg);
  width: 66px;
  height: 66px;
  border-radius: 100%;
  display: grid;
  cursor: copy;
  border: 2px solid var(--bg);
}

.full.red { background-color: var(--red) }
.full.yellow { background-color: var(--yellow) }

.not-active {
  cursor: no-drop;
}

.void:hover, .full:hover {
  border: 2px solid var(--text);
}

button {
  background-color: #4e80d3;
  border: none;
  color: var(--white);
  letter-spacing: 11px;
  padding: 10px 0;
  margin: 0 auto;
  width: 650px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: var(--text);
}

.players {
  display: flex;
  justify-content: center;
}

.players p {
  padding: 10px;
  margin: 0 10px;
}

@media(max-width: 480px) {
  .void, .full {
      max-width: 2rem;
      max-height: 2rem;
  }
  #gameboard {
    padding: 5px;
    gap: 0.2rem;
  }
  button {
    max-width: 18rem;
  }
}